<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node js Com Express</title>
</head>
<body>
<h1>Ola Mundo Usando o Home</h1>
<!--criando uma variavel em javascript-->
<% var jeziel = "Muito casando de tudo me ajude DEUS"%>

 <p><%= jeziel %></p><!--exibindo o resultado da variavel no html-->
    <ul>
    <% for(var key in clientes){ %>
    <li><%= clientes[key].nome%></li>
    <li><%= clientes[key].email%></li>

    <% } %>        
    </ul>
    <br>

    <ul>
    <% for(var key in clientes){ %>
        <li>
            <%= clientes[key].nome %> - <%= clientes[key].email %>
        </li>
    <% } %>
    <ul>
    <br>
     
    <% if(erros){ %>
    <ul>
    <% for(var key in erros){%>
        <li>
            <%= erros[key].msg %>
        </li>
        <% } %>
    
    </ul>
    <% } %> 


    <h1> FORMULARIO DE CONTATOS</h1>
    <form action="/" method="post">
    Nome:
    <input type="text" name="nome" />
    Email:
    <input type="text" name="email" />

    <input type="submit" value="Enviar" />
        
    </form>


</body>
</html> 